<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>StudentAssistant</title>
</head>
@Styles.Render("~/Content/css")
<body>
    <div id="header">
        <a href="../Home/MainPage"><img src="../../Content/Images/logo_4.jpeg" alt="My Website" /></a>
        <div id="navigation">
            <ul>
                <li><a href="../Home/MainPage">Главная</a></li>
                @if (ViewBag.checkInput == true)
                {
                    <li><a href="../Home/PersonalAccount">Личный кабинет</a></li>
                    <li><a href="../Home/Autorisation">Выйти</a></li>
                }
                else
                {
                    <li><a href="../Home/Autorisation">Войти</a></li>
                    <li><a href="../Home/Registration">Регистрация</a></li>
                }
            </ul>
        </div>
    </div>

    @RenderBody()
    <footer class="footer">
        <p class="footer_text">
            Copyright &copy; StudentAssistant 2023
            <br>All rights reserved
        </p>
        <div class="footer_links">
            <a class="footer_link" href="https://twitter.com/elonmusk">
                <img src="../../Content/Images/twitter.svg" alt="twitter_icon">
            </a>
            <a class="footer_link" href="https://web.telegram.org">
                <img src="../../Content/Images/telegram.svg" alt="telegram_icon">
            </a>
            <a class="footer_link" href="https://www.facebook.com/zuck/?locale=ru_RU">
                <img src="../../Content/Images/facebook.svg" alt="facebook_icon">
            </a>
        </div>
    </footer>
</body>
</html>