@{
    ViewBag.Title = "MainPage";
}
<!DOCTYPE html>
<html>
<head runat="server">
    <title>My Website</title>
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" />
</head>
<body>
    <form id="form1" runat="server">
        <div id="content">
            <div class="slider">
                <div><img src="~/Content/Images/Slider_1_test_3.jpeg" /></div>
                <div><img src="~/Content/Images/Slider_2_test_2.jpeg" /></div>
                <div><img src="~/Content/Images/Slider_3_test_2.jpeg" /></div>
            </div>
            <div class="text-blocks">
                <div class="text-block"><div class="text-pad">Вы никогда не задумывались, как улучшить свою производительность на работе или в учебе? Мы предлагаем интуитивно понятный интерфейс, который позволяет легко отслеживать ваш прогресс и планировать вашу учёбу. Наше приложение поможет вам стать более организованным и эффективным.</div></div>
                <div class="text-block"><div class="text-pad">Данное приложение предоставляет вам возможность легко отслеживать свой прогресс в учебе. Вы можете отслеживать, сколько работ вам уже удалось сдать и насколько вы близко находитесь к допуску к сессии. Это позволяет вам более точно планировать свою работу и увеличивать свои шансы на успех в учебе.</div></div>
                <div class="text-block"><div class="text-pad">Скачивайте наше мобильное приложение StudentAssistant и ... что нибудь еще придумать.<br><br>Тут потом будет кнопка для скачивания apk </div></div>
            </div>
        </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.slider').slick({
                dots: true,
                autoplay: true,
                autoplaySpeed: 2000
            });
        });
    </script>
</body>
</html>