@{
    ViewBag.Title = "Account";
}

<main class="block_main_account">
    <div class="main_content">

        <form method="get" action="~/Home/PersonalAccount">
           
        </form>

    </div>
</main>